blockquote {
    background: #EEF8FF url(img/blockquote.gif) no-repeat top right;
    padding: 10px 25px 10px 12px
}

.floatright, .alignright {
    float: left;
    margin-left: auto;
    margin-right: 10px
}

.floatleft, .alignleft {
    float: right;
    margin-left: 10px;
    margin-right: auto
}

#pagenavi, #postnavi {
    margin: 0 -15px 10px 290px;
}

#pagenavi span {
    background: url(img/pagenavi-border.png) no-repeat 100% 0;
    padding-left: 0;
    padding-right: 1px;
}

#pagenavi .newer, #postnavi .prev {
    float: right;
}

#pagenavi .older, #postnavi .next {
    float: left;
}

#title {
    float: right;
    margin: 20px 25px 0 10px;
    padding: 55px 107px 0 0;
    background: url(img/logo/mynetx.net.icon.100.png) no-repeat 100% 20px;
}

#title a {
    left: auto;
    right: 0;
    padding: 55px 107px 0 0;
    text-align: right;
}

#title div {
    left: auto;
    right: 0;
    margin: 37px 107px 0 0
}

#nav {
    float: right;
}

#nav li {
    background: url(img/nav-border.png) no-repeat 0 0;
}

#nav li.first {
    margin-left: 0;
    margin-right: 1px;
}

#nav a {
    background: url(img/nav-background.png) repeat-x 100% 0;
    margin: 0 0 0 1px;
}

#menus, #menus2 {
    background: url(img/nav-border.png) no-repeat 100% 0;
}

#nav li, #nav li {
    float: right;
}

#menus2 {
    left: auto;
    right: 692px;
}

#search {
    background: url(img/search-background.png) no-repeat 100% 0;
    left: auto;
    right: 692px;
}

#search-input {
    left: auto;
    right: 35px;
}

#content {
    float: right;
}

.post {
    background: url(img/post-mark.png) no-repeat 100% 0
}

.post h1, .post h2 {
    padding: 0 10px 0 0;
    text-align: right
}

.post h1 a, .post h1, .post h2 a, .post h2 {
    color: #646464
}

.entry-content {
    clear: right;
    margin-left: 0;
    margin-right: 10px;
    text-align: right;
}

.editpost, .cat-links {
    float: left;
    background: url(img/icon.gif) no-repeat scroll 100% -124px;
    padding: 0 20px 2px 0
}

.editpost {
    margin-left: 0;
    margin-right: 5px;
    background-position: 100% -95px
}

.published {
    background: url(img/icon.gif) no-repeat scroll 100% 0;
    padding: 0 20px 2px 0;
    float: right;
}

.post-author {
    background: url(img/icon.gif) no-repeat scroll 100% -35px;
    padding: 0 10px 2px 0
}

.entry-content ol, .entry-content ul {
    padding-left: 0;
    padding-right: 25px;
}

.entry-content table tr th {
    text-align: right;
}

#related_posts h3 {
    padding: 10px 10px 0 0
}

.entry-content .pages {
    background: url(img/icon.gif) no-repeat scroll 100% -226px;
    padding: 3px 27px 3px 0
}

.tag-links {
    background: url(img/icon.gif) no-repeat scroll 100% -124px;
    padding: 2px 22px 2px 0;
    margin-left: 0;
    margin-right: 10px
}

.tag-links {
    margin-left: 0;
    margin-right: 5px;
    background-position: 100% -148px
}

#linkcat ul {
    padding-right: 0
}

#linkcat li {
    float: right;
}

.position {
    background: url(img/icon.gif) no-repeat 100% -261px;
    padding-left: 0;
    padding-right: 25px;
}

#cmtswitcher a.tab, #cmtswitcher a.curtab {
    float: right;
}

.addcomment, .addtrackback {
    float: left;
    margin-left: 0;
    margin-right: 18px;
    background: url(img/icon.gif) no-repeat scroll 100% -173px;
    padding-left: 0;
    padding-right: 20px
}

.addcomment {
    margin-left: 0;
    margin-right: 5px;
    background-position: 100% -199px
}

#commenttab, #trackbacktab {
    float: right
}

#commentlist {
    background: #FCFCFC none repeat scroll 100% 0;
    margin-left: 0;
    margin-right: -6px;
}

#thecomments li {
    padding: 10px 58px 3px 10px
}

.comment-meta, .trackback .date, .trackback .act {
    float: left;
}

.trackback .title {
    padding: 5px 15px 5px 0
}

#thetrackbacks li {
    padding: 0 15px 10px 10px
}

.comment-author .avatar {
    float: right;
    margin-left: 0;
    margin-right: -50px;
}

#respond .welcome img {
    margin-left: 10px;
    margin-right: 0;
}

#emoticon {
    float: left;
    margin-left: 15px;
    margin-right: 0
}

#respond .feed {
    float: right;
    padding-left: 0;
    padding-right: 15px
}

#submit, .sendsub {
    background: #21759B url(img/button-grad.png) repeat-x scroll right top;
    float: left;
}

#commentload {
    left: auto;
    right: 147px;
}

#ed_toolbar_comment input {
    margin: 1px 0 5px 2px
}

#sidebar {
    float: left
}

.fixed #sidebar {
    margin-left: 0;
    margin-right: 700px
}

.widget {
    padding: 10px 0 0 10px
}

#sidebar ul {
    padding-left: 0;
    padding-right: 20px
}

.sy {
    float: right;
    background: url(img/sticky-background.png) no-repeat 100% 100%;
}

.sy h2 {
    left: auto;
    right: 1px
}

.widget_right {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}

.widget_left {
    float: right;
}

#yinheli_recentcomments {
    margin-left: 0;
    margin-right: -10px
}

#recentcomments li {
    margin-left: 0;
    margin-right: -10px;
}

.yrc_avatar img {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

#sidebar .yrc_info a {
    color: #4EB0E9
}

#sidebar #widget-links li {
    float: right;
}

#mailform {
    background: url(img/mail.gif) no-repeat scroll 10% top
}

#header-az {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -473px;
}

#header-az2 {
    margin-left: 0;
    margin-right: 478px
}

#language-selector img {
    margin-left: 5px;
    margin-right: 0;
}

.section-box {
    left: auto;
    right: -1px;
}

#languages .section-box {
    left: 0;
    right: auto
}

.section-box li ul {
    margin-left: 0;
    margin-right: 20px;
}

.language-bar.rtl a.close, #header-az1 {
    float: right
}

#linkcat li a, #sidebar #widget-links li a {
    background: url(img/icon.gif) no-repeat 100% -303px;
    padding-left: 0;
    padding-right: 21px
}
